/* You can add global styles to this file, and also import other style files */
body {
  background-image: url('img.png');

  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
  
}
h1 {
	color: #ff6347;
	font-size: 40px;
	text-align: center;
	font-weight: bolder;
	font-family: Ariel Black, monospace;
}
.p-4 {
	text-align: center;
	font-family: Ariel Black, monospace;
}
/*
.uploadFile() {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
*/
.button {
  background-color: orange;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.center {
  display: grid;
  place-items: center;
  height: 200px;
  border: 3px solid green;
}
/*
.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
*/

  .gantt {
    margin-top: 30px;
  }

  .row {
	position: relative;
    display: flex;
    align-items: center;
    /*margin-bottom: 6px;*/
	background: rgba(255, 255, 255, 0.5);
	padding: 2px 6px;
    border-radius: 8px;
	
	
  }

  .label {
    width: 180px;
    font-size: 13px;
  }

  .bar { 
    height: 24px;
    background: #ff6e00; /*#1976d2; */
    color: black;
	margin-top: 8px;
	font-size: 13px;
	white-space: pre;
   /* padding: 2px 6px;
    border-radius: 4px; */

  }
